/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 header {
 	background:#F16529;
 	padding:20px 0;
 	border-bottom: 5px solid #E44D26;
 	color:#fff;
 }

 nav {
 	float:left;
 	width: 100%;
 	display:block;
 	background: #e44d26;
 	border-bottom: 5px solid #E44D26;
 }
 nav ul {
 	list-style:none;
 	margin:0 0 10px 0;
 }

 nav ul li {
 	float:left;
 	margin-left:10px;
 	border: 2px solid #E44D26;
 }

 nav ul li:hover {
 	border-color: #fff;
 }

 nav ul li.first {
 	margin-left:0;
 }

 .clear {
 	clear:both;
 }

 nav ul li a{
 	background:#4070DF;
 	display:block;
 	padding: 10px;
 	font-size: 14px;
 	font-weight: bolder;
 	color:#fff!important;
 	text-decoration: none;
 }
 
 nav ul li a:hover, nav ul li a.active{
 	background:#F16529;
 }

 footer {
 	-webkit-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
	height:200px;
	padding:30px;
	background:#eee;
	text-align:right;
	visibility: hidden;
 }